body{
text-align:center;
background:#111;
color:white;
font-family:sans-serif;
}

.choices{
margin-top:40px;
}

.option{
width:150px;
margin:20px;
cursor:pointer;
transition:0.3s;
}

.option:hover{
transform:scale(1.2);
}
img{
width:150px;
cursor:pointer;
transition:0.3s;
}

img:hover{
transform:scale(1.2);
}
img{
width:150px;
height:150px;
object-fit:cover;
}